.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  box-sizing: border-box;
  height: 9.5vh;
  /* height: 7%; */
  width: 70%;
  background-color: inherit;
  padding: 0vh 1.5vw;
  box-shadow: 0px 15px 10px 0px lightgray;
  border-radius: 5px 5px 17px 17px;
}

@media (max-width: 1440px) and (max-height: 3200px) and (orientation: portrait) {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    box-sizing: border-box;
    width: 86%;
    background-color: inherit;
    padding: 0vh 1vw;
    padding-right: 5vw;
    box-shadow: 0px 15px 10px 0px lightgray;
    border-radius: 5px 5px 17px 17px;
    /* height: 3.8vh; */
  }
}
