.Error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.Error div {
  display: flex;
  justify-content: space-between;
}

.Error button {
  margin: 0 auto;
}

@media (max-width: 450px) {
  .Error {
    width: 90%;
  }
  .Error button {
    font-size: 70%;
  }
}
