.tile {
  display: flex;
  flex-direction: column;
  border-radius: 8%;
  box-shadow: 5px 2px 8px 2px lightgrey;
}

.title {
  height: 15%;
  text-align: center;
  border-bottom: 3px solid darkgray;
  font-weight: 500;
  font-size: 95%;
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.body {
  padding: 1vh 0.7vw;
  height: 70%;
  text-align: left;
  border-bottom: 3px solid darkgray;
  font-size: 90%;
  text-size-adjust: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-size-adjust: auto;
  overflow-y: auto;
}

.buttons {
  display: flex;
  justify-content: stretch;
  align-content: flex-start;
}

.buttons > div {
  display: flex;
  justify-content: stretch;
  width: 33.33%;
}

.buttons button {
  box-sizing: border-box;
  width: 100%;
  border: 0px solid white;
}

.like {
  border-radius: 0 0 0 30%;
}

.view {
  border-left: 3px dotted darkgray;
  border-right: 3px dotted darkgray;
}

.edit {
  border-radius: 0 0 30% 0;
}

@media (max-width: 1440px) and (max-height: 3200px) and (orientation: portrait) {
  .tile {
    height: 20vh;
    width: 68%;
    display: flex;
    flex-direction: column;
    border-radius: 8%;
    box-shadow: 5px 2px 8px 2px lightgrey;
  }
}

@media (max-width: 1440px) and (max-height: 3200px) and (orientation: landscape) {
  .body {
    font-size: 80%;
  }
}
