.resetPassword {
  width: 21vw;
  margin: 0 auto;
}

.resetPassword > .msg {
  margin-top: 2vh;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  border-radius: 4px;
  padding-bottom: 0.3vh;
}

.red {
  color: red;
  background-color: pink;
  border: 1px solid lightcoral;
}

.green {
  color: blue;
  background-color: lightblue;
  border: 1px solid blue;
}

.resetPassword > form {
  margin-top: 2vh;
}

.hide {
  display: none;
}

.form div {
  padding: 1vh 0;
}

.form .button {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

@media (max-width: 424px) {
  .resetPassword {
    height: 77vh;
    width: 80%;
  }
  .form div,
  .form button {
    margin: 0.5vh 0;
  }
}
